<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="de.plutohd.app_manager">
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <application>
    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="de.plutohd.app_manager.provider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_provider_paths" />
    </provider>
  </application>
</manifest>
